@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;500;1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.recursive-font {
  font-family: "Recursive", sans-serif;
}

.custom-txt-shadow {
  text-shadow: -2px -2px #000, 2px 2px #000, -2px 2px #000, 2px -2px #000;
}
