@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;500;1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.recursive-font {
  font-family: "Recursive", sans-serif;
}

.button-bg {
  background-image: url("/button-bg.svg");
  @apply bg-contain bg-no-repeat bg-center;
}

.custom-txt-shadow {
  text-shadow: -2px -2px #000, 2px 2px #000, -2px 2px #000, 2px -2px #000;
}
